.wcl-equifield-root {
	overflow-x: hidden;
	overflow-y: hidden;
	/* position: relative; */
}
.wcl-equifield-field {
	/* position: relative; */
	page-break-inside: avoid;
	page-break-after: auto;
	overflow-x: visible;
	/* border-bottom: 1px dashed #00000019; */
}
.wcl-equifield-content {
	transform-origin: left top;
	/* This will cause problem while printing, so don't use */
	/* transform: scale(0.2);
	font-size: 5em;
	width: 500%;
	margin-right: -400%; */
}

@media print {
	.wcl-equifield-root {
		margin-left: 50%;
		margin-right: -50%;
		transform: translateX(-50%);
		width: 98vw;
		font-size: calc(98vw / 120) !important;
		box-sizing: border-box;
	}
	.wcl-equifield-field {
		border-bottom: none;
	}
	.wcl-equifield-content {
		/* Avoid error-prone bounding when printing (due to scaling) */
		margin-left: -1000vw;
		transform: translateX(1000vw) scale(1);
	}
}
